apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "name" . }}
  labels:
    {{- include "labels" . | nindent 4 }}
data:
  {{ if .Values.env }}
  {{- range $key, $value := .Values.env }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
{{ if .Values.files }}
  {{ .Values.files }}: |-
  {{ .Files.Get .Values.files | nindent 4 }}
{{- end }}
