apiVersion: v1
kind: Service
metadata:
  name: {{ include "name" . }}
  labels:
    {{- include "labels" . | nindent 4 }}
spec:
  {{- if .Values.service.type }}
  type: {{ .Values.service.type }}
  {{- end }}
  ports:
    {{ toYaml .Values.service.servicePorts | nindent 4 }}
  selector:
    {{- include "selectorLabels" . | nindent 4 }}
